@import 'reset';

:root {
    --main-color: #fff;
}

@mixin gameEndWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, .9);
    z-index: 111;
}

@mixin gameEndSvg {
    display: block;
    font-size: 64px;
    font-family: 'Nanum Pen Script', cursive;
}
@mixin gameEndSvgNum($color, $num) {
    stroke: $color;
    stroke-width: 2px;
    font-size: 80px;
    fill: transparent;
    stroke-dasharray: 210;
    stroke-dashoffset: 210;
    animation: gameEndAni 3s linear forwards;

    @for $i from 2 through $num {
        &:nth-of-type(#{$i}) {
            animation-delay: #{($i - 1) * 0.1}s;
        }
    }
}

#wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #BB2649, #4426bb);
    background-size: 200% 200%;
    color: var(--main-color);
    animation: bgAni 10s linear infinite alternate;
    overflow: hidden;

    .game_desc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid var(--main-color);
        padding: 30px;
        z-index: 1;

        &.start {
            transform: translate(-1000%, -50%) rotate(-30deg) skew(30deg);
            transition: all 1s;
        }

        h1 {
            border-bottom: 2px solid var(--main-color);
            padding-bottom: 10px;
            margin-bottom:10px;
            font-size: 30px;
            text-align: center;
        }

        li {
            position: relative;
            padding: 5px 0 5px 15px;
            border-bottom: 1px solid var(--main-color);
            font-size: 20px;
            word-break: keep-all;

            &::before {
                position: absolute;
                top: 12px;
                left: 0;
                width: 6px;
                height: 6px;
                background: #fff;
                border-radius: 50%;
                content: '';
            }
        }
        
        .game_start {
            display: block;
            padding: 10px 30px;
            border: none;
            margin: 30px auto 0;
            font-size: 26px;
            color: #333;
            background: var(--main-color);
            box-shadow: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .stage {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        border: 3px solid var(--main-color);
        padding: 10px;
        transform: translate(1000%, -50%) rotate(-30deg) skew(30deg);
        transform-origin: left top;

        &.on {
            transform: translate(-50%, -50%) rotate(0deg);
            transition: all 1s;
        }

        .time {
            position: absolute;
            bottom: calc(100% + 5px);
            left: 0;
            font-size: 20px;

            .time_val {
                font-size: 30px;
            }
        }

        .question {
            display: flex;
            flex-direction: column;
            width: 460px;
            overflow: hidden;

            .num {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;

                span {
                    display: block;
                    border: 3px solid var(--main-color);
                    width: 146px;
                    font-size: 100px;
                    text-align: center;

                    & + span {
                        margin-left: 10px;
                    }
                }
            }

            .input_row {
                display: flex;
                align-items: center;
                height: 50px;
                margin-top: auto;

                input {
                    display: block;
                    width: 350px;
                    height: 100%;
                    margin-right: 10px;
                    border: 3px solid var(--main-color);
                    padding: 0 10px;
                    font-size: 40px;
                    text-align: center;
                    border-radius: 0;
                    box-shadow: none;
                    flex: 1;
                }
                
                button {
                    display: block;
                    width: 100px;
                    height: 100%;
                    border: none;
                    font-size: 30px;
                    color: #333;
                    background: var(--main-color);
                    border-radius: 0;
                    box-shadow: none;
                    flex: 0 0 auto;
                    cursor: pointer;
                }
            }
        }

        .note {
            margin-left: 10px;
            width: 300px;
            max-height: 300px;
            border: 3px solid var(--main-color);
            padding: 5px 10px 15px;
            overflow-y: auto;

            > div {
                display: flex;
                justify-content: space-between;
                border-bottom: 2px solid var(--main-color);
                font-size: 24px;
                padding-top: 5px;
                line-height: 1.6;
            }

        }


    }

    .game_over {
        @include gameEndWrap;
            
        svg {
            @include gameEndSvg;

            text {
                @include gameEndSvgNum(red, 9);
            }
        }

    }

    .game_clear {
        @include gameEndWrap;
            
        svg {
            @include gameEndSvg;

            text {
                @include gameEndSvgNum(#f1c164, 11);
            }
        }

    }

    .game_result_ttl {
        font-size: 50px;
        color: #252525;
    }

    .game_result_desc {
        font-size: 30px;
        color: #252525;
        text-transform: uppercase;

        .count {
            font-size: 40px;
            color: red;
            text-shadow: 1px 1px #16345a, -1px -1px #16345a;
            vertical-align: baseline;
        }
    }

    .reset_btn {
        display: block;
        padding: 5px 12px;
        border: 1px solid #252525;
        font-size: 26px;
        font-weight: 700;
        color: #252525;
        background: #fff;
        border-radius: 4px;
        cursor: pointer;
    }

    .notice {
        position: fixed;
        bottom: 10px;
        left: 0;
        width: 100%;
        text-align: center;

        span {
            color: yellow;
            font-size: 18px;
        }
    }

}

@keyframes bgAni {
    0% {
        background-position: 0% 0%;
    }
    12% {
        background-position: 0% 50%;
    }
    24% {
        background-position: 0% 100%;
    }
    36% {
        background-position: 50% 100%;
    }
    48% {
        background-position: 100% 100%;
    }
    60% {
        background-position: 100% 50%;
    }
    72% {
        background-position: 100% 0%;
    }
    84% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes gameEndAni {
    0% {
        stroke-dashoffset: 210;
        fill: transparent;
    }
    70% {
        fill: transparent;
    }
    80% {
        fill: #16345a;
    }
    100% {
        fill: #16345a;
        stroke-dashoffset: 0;
    }
}